
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.checkboxes .fieldset {
  margin: 1rem;
}

.checkboxes .ingredient-checkbox {
  display: inline-block;
  margin: .5rem;
}

.dishes {
  padding:0;
}

.dishes .dish-list {
  margin: 1rem 0;
  list-style-type: none;
}

.dishes .dish-list:nth-child(3n+1){
  clear: both; 
}

.dishes .dish-list .dish-img-wrapper {
  text-align: center;
  max-width: 100px;
  display: inline-block;
}

.dishes .dish-list .dish-img-wrapper img {
  max-width:100px;
  vertical-align: top;
}

.dishes .dish-list .border {
  border:1px solid #fff;
  position: relative;
  display:flex;
  flex-direction: row;
}

.dishes .dish-list .information {
  vertical-align: top;
  margin:.7rem;
  font-size:1rem;
  line-height: 1.4;
  max-width: 180px;
}

.dishes .dish-list .information h4 {
  margin:0;
  font-size: 1.2rem;
  display: flex;
}


.dishes .dish-list .recipes {
  color:#61dafb;
  display: inline-block;
  padding: 0;
  list-style: none;
}

.dishes .dish-list .recipes .recipe-list {
  display: inline;
}

.pagination {
  margin:1rem;
  text-align: center;
}

.pagination span {
  padding:1rem;
  cursor:pointer;
}

.pagination span:hover {
  color:plum;
}

.pagination span.active {
  color:#61dafb;
  font-weight:bold;
}


