
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.checkboxes {

}

.checkboxes .fieldset {
  margin: 1rem;
}

.checkboxes .ingredient-checkbox {
  display: inline-block;
  margin: .5rem;
}

.dishes {
  padding:0 1rem;
  display: flex;
  flex-direction:column;
}

.dishes .dish-list {
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  min-height: 200px;
}

.dishes .dish-list:first-child {
  border-top: 1px solid #fff;
}

.dishes .dish-list h4 {
  margin:0;
  padding: 1rem;
  display: flex;
}

.dishes .dish-list .dish-img-wrapper {
  float:right;
  margin:1rem;
}


.dishes .dish-list .recipes {
  color:#61dafb;
  display: inline-block;
}

.dishes .dish-list .recipes .recipe-list {
  display: list-item;
}


