
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.dishes {
  padding:0;
}

.dishes .dish-list {
  margin: 1rem 0;
  list-style-type: none;
}

.dishes .dish-list:nth-child(2n+3){
  clear: both; 
}

/* .dishes .dish-list:nth-child(3n+1){
  clear: both; 
} */

.dishes .dish-list .dish-img-wrapper {
  text-align: center;
  max-width: 200px;
  display: flex;
  align-items: center;
  background-color:#1d1d1d;
}

@media(max-width:767px) {
  .dishes .dish-list .dish-img-wrapper {
    max-width: 150px;
  }
}

.dishes .dish-list .dish-img-wrapper img {
  max-width:200px;
  vertical-align: top;
}

@media(max-width:767px) {
  .dishes .dish-list .dish-img-wrapper img {
    max-width:100%;
  }
}

.dishes .dish-list .border {
  height: 225px;
  border:1px solid #fff;
  position: relative;
  display:flex;
  flex-direction: row;
}

.dishes .dish-list .information {
  vertical-align: top;
  margin:.7rem;
  font-size:1rem;
  line-height: 1.4;
  max-width: 100%;
}

.dishes .dish-list .information h4 {
  margin:0;
  font-size: 1.2rem;
  display: flex;
}


.dishes .dish-list .recipes {
  color:#61dafb;
  display: inline-block;
  padding: 0;
  list-style: none;
}

.dishes .dish-list .recipes .recipe-list {
  display: block;
}

.dishes .dish-list .recipes .recipe-list .quantity {
  font-size:.9rem;
  color:plum;
}

.dishes .dish-list .usages {
  color:#fff952;
  display: inline-block;
  padding: 0;
  list-style: none;
}

.dishes .dish-list .usages .usage-list {
  display: block;
}

.dishes .dish-list .usages .usage-list .desc {
  font-size:.9rem;
  color:plum;
}

iron-image {
  width: 150px;
  height: 90px;
  background-color: #282c34;
}

.pagination {
  margin:1rem;
  text-align: center;
}

.pagination span {
  padding:1rem;
  cursor:pointer;
  display: inline-block;
}

.pagination span:hover {
  color:plum;
}

.pagination span.active {
  color:#61dafb;
  font-weight:bold;
}

.usage-checkbox {
  display:inline-block;
  margin: .5rem;
}

.sorting {
  margin: 1rem 0;
}

.sorting .link {
  color:#fff;
}

.sorting .checkboxes {
  margin: 1rem 0;
}

.sorting .checkboxes input {
  color:#000;
}

.sorting .checkboxes input[type="text"] {
  display: block;
  margin: 1rem 0;
}

.sorting .checkboxes input[type=checkbox],
.sorting .checkboxes input[type=radio] {
  margin-right: 5px;
  vertical-align: top;
}


.sorting .checkboxes .fieldset {
  margin: 1rem;
}

.sorting .checkboxes .ingredient-checkbox {
  display: inline-block;
  margin: .5rem;
}


